<!DOCTYPE html>
<html>
  <head>
    <title>Add New Program</title>
  </head>
  <body>
    <h1>Add New Program</h1>
    <form action="/programs" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>

      <fieldset>
        <legend>Type of Program:</legend>
        <% PROGRAM_TYPES.each do |type| %>
          <input type="radio" id="type-<%= type %>" name="program_type" value="<%= type %>">
          <label for="type-<%= type %>"><%= type %></label><br>
        <% end %>
      </fieldset>

      <label for="version">Version:</label>
      <input type="text" id="version" name="version"><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
